# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# CHAT
RABBIT_MQ_CHAT_CLIENT=chat_client
RABBIT_MQ_CHAT_QUEUE=chat
CHAT_DATABASE_URL=postgresql://admin:admin@db:5432/discord?schema=chat
CLIENT_URL=http://localhost:1420

# CORE
RABBIT_MQ_CORE_CLIENT=core_client
RABBIT_MQ_CORE_QUEUE=core
USER_DATABASE_URL=postgresql://admin:admin@db:5432/discord?schema=auth

# SERVER
RABBIT_MQ_SERVER_CLIENT=server_client
RABBIT_MQ_SERVER_QUEUE=server
SERVER_DATABASE_URL=postgresql://admin:admin@db:5432/discord?schema=servers

# RabbitMQ
RABBIT_MQ_URI=amqp://admin:admin@rabbitmq:5672

# JWT
SESSION_SECRET='session-secret'

JWT_ACCESS_SECRET='access-secret'
JWT_ACCESS_EXPIRES='1h'

JWT_REFRESH_SECRET='refresh-secret'
JWT_REFRESH_EXPIRES='7d'

# OAuth
CLIENT_ID='client-id'
CLIENT_SECRET='client-secret'
CALLBACK_URL='callback-url'

# Minio
MINIO_ENDPOINT=minio
MINIO_PORT=9000

MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=adminadmin
MINIO_USE_SSL=false
MINIO_BUCKET_NAME=discord-files